.navbar {
    background-color: maroon;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 3vh;
}

.container {
    margin-top: 30px;
}

.container h2 {
    text-align: center;
    font-size: 5vh;
    font-weight: bold;
    background-color: transparent;

}

.menu {
    background-color: transparent;
}

.container h1 {
    text-align: center;
}

.chicken {
    background-color: beige;
    border: 1px solid black;
}

.dropdown-menu a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    height: 10rem;
}

.dropdown-menu {
    padding: 1rem;

}

.dropdown {
    border: 1px solid white;
    color: white;
    float: right;
    left: 96rem;
}

.btn {
    color: white;
}